* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}
nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  height: 50px;
  padding-top: 20px;
}
nav li {
  list-style:none;
  float: left;
  margin-right: 40px;
}
a {
  text-decoration: none;
}
nav a {
  color: rgba(255,255,255,0.8);
}
.top {
  display: inline;
}
ul.links {
  height: 100%;
  float: right;

  vertical-align: middle;
}
h2 {
  color: rgb(83, 88, 98);
}

.light {
  font-weight:300;
}
.normal {
  font-weight:400;
}
.bold {
  font-weight:700;
}

.white {
  color: white;
}

.grey {
  color: rgb(135, 145, 156);
}
.tiny {
  font-size: .9em;
  margin-top: 10px;
  margin-bottom: 15px;
}
.center {
  text-align: center;
} 

.link {
  color: rgb(208, 74, 73);
} 
#guys {
  width: 40%;
}

#heart {
  margin-left: 20px;
}

#search {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(32, 101, 136);
  display: flex;
}

#bar input {
  margin-top: 10px;
  background-color: rgb(31, 82, 111);
  border: 1px solid grey;
  height: 36px;
  width: 100%;
  margin-right: 0px;
  padding-right: 0px;
}
#logo img{
 max-height: 42px;
 margin-left: 30px;
 margin-right: 30px;
}

#bar {
  display: flex;
  width: 70%;
}

#login {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 10px;
  display: flex;
  padding-top: 10px ;
}
#login img {
  max-height: 42px;
  margin-bottom: 10px;
}

#lupa {
  margin-top: 10px;
  border-left: 0;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  background-color: rgb(31, 82, 111);
  color: white;
  height: 38px;
}

.search-item{
  height: 60px;
}

#search button svg{
  width:6px;
  height:6px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#for-npm{
  background-color: rgb(240, 146, 51);
  margin-top: 30px;
}

#crane {
  width: 400px;
}
.text {
  margin: 30px;
}

.title {
  margin: 30px;
}

.blocks {
  display: flex;
}
.block-text{
  margin-left: 70px;
  margin-right: 70px;
}
.block {
  text-align: center;
}
section {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

#collabs{
  background-color: rgb(39, 53, 71);
  display: flex;
  justify-content: center;
}

header {
  background-image: url(images/city-scape.svg);
  color: white;
  background-color: rgb(32, 101, 136);
}

#collabs ul {
  margin-left: 20px;
}

#collabs h1 {
  margin-bottom: 30px;
  width: 400px;
}
#collabs ul li{
  margin-bottom: 20px;
}
.info {
  padding-left: 12%;
}
#what-is {
  background-image: url(images/forklift.svg);
  height: 250px;
  color: white;
}

#blocks-section {
  background-color: white;
}

#content {
  width: 30%;
  margin-left: 15%;
  padding-bottom: 50px;
  margin-top: 50px;
}
.round {
  border-radius: 50px 50px 50px 50px;
  border: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
}
#for-orgs {
  background-color: rgb(203, 56, 55);
  color: white;
}
#install {
  background-color: rgb(49, 68, 88);
  color: white;
  
  margin-left: 30px;
}